.App {
  display: flex;
  background-image: url('./background.jpg');
  text-align: center;
}

.App-logo {
  height: 170px;
}

.App-header {
  background-image: url('./background.jpg');
  height: 250px;
  padding: 10px;
  color: white;
}
.App-banner {
  width: 100%;
  height: auto;
}
.App-intro {
  font-size: large;
}


